<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>자막입력기</title>
    <link rel="stylesheet" href="stylesheets/style.css" />
    <script src="/socket.io/socket.io.js"></script>
  </head>
  <body>
    <div class="">
      <form id="TextForm" class="form">
        <input
          type="text"
          id="TextInput"
          placeholder="내용을 입력하세요"
          class="textInput"
        />
        <div class="buttonBox">
          <input type="submit" value="OK" id="textSubBtn" class="formButton" />
          <button type="button" id="cancleScriptBtn" class="formButton">
            자막 취소
          </button>
          <button
            type="button"
            id="showScriptBtn"
            class="formButton"
            style="display: none"
          >
            자막 보이기
          </button>
        </div>
      </form>
    </div>
    <div class="configBox">
      <form id="ConfigForm" class="form">
        <h2>자막 설정</h2>
        <div class="inputBox">
          <div class="input">
            <label for="ConfigFontSize">크기</label>
            <input
              type="number"
              name="fontSize"
              id="ConfigFontSize"
              placeholder="ex) 56px"
              class="textInput"
            />
          </div>
          <div class="input">
            <label for="ConfigFontWeight">굵기</label>
            <input
              type="number"
              name="fontWeight"
              id="ConfigFontWeight"
              placeholder="ex) 600"
              class="textInput"
            />
          </div>
          <div class="input">
            <label for="ConfigFontColor">색상</label>
            <input
              list="color"
              id="ConfigColor"
              name="color"
              placeholder="ex) #000"
              class="textInput"
            />
          </div>
          <div class="input">
            <label for="ConfigFontBorderWidth">테두리 굵기</label>
            <input
              type="number"
              name="borderWidth"
              id="ConfigFontBorderWidth"
              placeholder="ex) 3"
              class="textInput"
            />
          </div>
        </div>
        <input
          type="submit"
          value="설정값 저장"
          id="configSubBtn"
          class="formButton"
        />
      </form>
    </div>
    <div class="configBox">
      <form id="ConfigRaffleForm" class="form">
        <h2>추첨 설정</h2>
        <div class="inputBox">
          <div class="radioInputBox">
            <span> 음소거 </span>
            <div>
              <input
                type="radio"
                id="OFF"
                name="useSound"
                value="false"
                class="radioInput"
                checked
              />
              <label for="OFF">OFF</label>
            </div>
            <div>
              <input
                type="radio"
                id="ON"
                name="useSound"
                value="true"
                class="radioInput"
              />
              <label for="ON">ON</label>
            </div>
          </div>
          <div class="input">
            <label for="ConfigRaffleRange">추첨 범위</label>
            <input
              type="number"
              name="range"
              id="ConfigRaffleRange"
              placeholder="ex) 100 (1 부터 입력범위 까지)"
              class="textInput"
            />
          </div>
          <div class="input">
            <label for="ConfigRaffleLength">추첨 개수</label>
            <input
              type="number"
              name="length"
              id="ConfigRaffleLength"
              placeholder="ex) 6개"
              class="textInput"
            />
          </div>
        </div>
        <input
          type="submit"
          value="설정값 저장"
          id="configRaffleSubBtn"
          class="formButton"
        />
      </form>
    </div>
  </body>
  <script src="javascripts/index.js"></script>
</html>
