body {
}

h2 {
  margin: 0 0 1rem 0;
}

a {
  color: #00b7ff;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.form {
  display: flex;
  margin: 15px auto 0px auto;
  flex-direction: column;
  font: 15px 'Lucida Grande', Helvetica, Arial, sans-serif;
  color: grey;
  box-shadow: 0px 0px 15px rgb(182, 182, 182);
  padding: 2rem 2.5rem;
  border-radius: 17px;
  max-width: 960px;
}

.form .textInput {
  font-size: 20px;
  text-align: center;
  width: 100%;
  /* margin-top: 5px; */
  /* margin-bottom: 15px; */
  padding: 10px 0px;
  border: 0;
  border-radius: 10px;
  background-color: rgb(227, 239, 255);
}

.form .formButton {
  border: 0;
  font-size: 15px;
  border-radius: 25px;
  background-color: #1e3eca;
  color: white;
  width: 200px;
  height: 44px;
  margin-top: 15px;
}

.form .formButton:hover {
  background-color: #aabaff;
  color: #1e3eca;
  cursor: pointer;
}

.inputBox {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 15px;
}

.buttonBox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
}

.configBox .input {
  flex-grow: 1;
  flex-basis: 40%;
}

.configBox .formButton {
  margin-left: auto;
  margin-right: auto;
}

.radioInputBox {
  display: flex;
  flex-grow: 1;
  flex-basis: 60%;
}

.radioInputBox label {
  font-size: 20px;
}

@media all and (max-width: 711px) {
  body {
    padding: 0;
  }

  .form {
    box-shadow: 0px 0px 0px rgb(182 182 182);
    padding: 0;
    border-radius: 0;
  }
}

@media all and (max-width: 575px) {
  .form {
    font: 16px 'Lucida Grande', Helvetica, Arial, sans-serif;
  }
  .form input {
    font-size: 16px;
    padding: 5px;
    margin-bottom: 5px;
  }

  .form .formButton {
    font-size: 12px;
    width: 100px;
    height: 30px;
  }
}
