body {
  padding: 50px;
}

a {
  color: #00b7ff;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.form {
  display: flex;
  margin: 15px auto 0px auto;
  flex-direction: column;
  font: 15px 'Lucida Grande', Helvetica, Arial, sans-serif;
  color: grey;
  box-shadow: 0px 0px 15px rgb(182, 182, 182);
  padding: 35px 45px;
  border-radius: 17px;
  max-width: 960px;
}

.form input {
  font-size: 20px;
  text-align: center;
  width: 100%;
  margin: 5px auto 15px auto;
  padding: 10px 0px;
  border: 0;
  border-radius: 10px;
  background-color: rgb(227, 239, 255);
}

.form input[type='submit'] {
  border: 0;
  font-size: 15px;
  border-radius: 25px;
  background-color: #1e3eca;
  color: white;
  width: 300px;
  height: 44px;
  margin: 15px auto 0 auto;
}

.form input[type='submit']:hover {
  background-color: #aabaff;
  color: #1e3eca;
  cursor: pointer;
}

.inputBox {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 15px;
}

.configBox .input {
  flex-grow: 1;
  flex-basis: 40%;
}
